{% extends "base.html" %}
{% block title %}Consultar Cita{% endblock %}
{% block content %}
<h2><i class="fa-solid fa-magnifying-glass"></i> Consultar Cita Reservada</h2>
<form action="/buscar_cita" method="POST">
  <label>Ingrese el número de documento del paciente</label>
  <input type="text" name="documento" placeholder="Número de documento" required>
  <button type="submit"><i class="fa-solid fa-search"></i> Consultar</button>
</form>
<a href="/"><button class="volver"><i class="fa-solid fa-arrow-left"></i> Volver</button></a>
{% endblock %}
