{% extends "base.html" %}
{% block title %}Programas - Viva 1A IPS{% endblock %}
{% block content %}
<div class="section-container">
  <h2><i class="fa-solid fa-heart-pulse"></i> Programas</h2>
  <ul class="lista-servicios">
    <li><i class="fa-solid fa-shield-heart"></i> Promoción y prevención en salud</li>
    <li><i class="fa-solid fa-heart"></i> Control de enfermedades crónicas</li>
    <li><i class="fa-solid fa-baby"></i> Salud materno-infantil</li>
    <li><i class="fa-solid fa-syringe"></i> Programas de vacunación</li>
    <li><i class="fa-solid fa-book-medical"></i> Educación en salud</li>
  </ul>
</div>
{% endblock %}
