{% extends "base.html" %}
{% block title %}Sedes - Viva 1A IPS{% endblock %}
{% block content %}
<div class="section-container">
  <h2><i class="fa-solid fa-location-dot"></i> Sedes en Barranquilla</h2>
  <ul class="lista-servicios">
    <li><i class="fa-solid fa-building"></i> <strong>Sede Norte:</strong> Calle 84 # 47-100, Barranquilla</li>
    <li><i class="fa-solid fa-building"></i> <strong>Sede Centro:</strong> Carrera 43 # 35-38, Barranquilla</li>
    <li><i class="fa-solid fa-building"></i> <strong>Sede Sur:</strong> Calle 30 # 8-49, Barranquilla</li>
    <li><i class="fa-solid fa-building"></i> <strong>Sede Prado:</strong> Carrera 54 # 70-200, Barranquilla</li>
  </ul>
</div>
{% endblock %}
