{% extends "base.html" %}
{% block title %}Servicios - Viva 1A IPS{% endblock %}
{% block content %}
<div class="section-container">
  <h2><i class="fa-solid fa-stethoscope"></i> Servicios</h2>
  <ul class="lista-servicios">
    <li><i class="fa-solid fa-user-doctor"></i> Consulta médica general y especializada</li>
    <li><i class="fa-solid fa-flask"></i> Laboratorio clínico</li>
    <li><i class="fa-solid fa-x-ray"></i> Imágenes diagnósticas</li>
    <li><i class="fa-solid fa-syringe"></i> Vacunación</li>
    <li><i class="fa-solid fa-truck-medical"></i> Urgencias</li>
    <li><i class="fa-solid fa-tooth"></i> Odontología</li>
    <li><i class="fa-solid fa-pills"></i> Farmacia</li>
    <li><i class="fa-solid fa-house-medical"></i> Atención domiciliaria</li>
  </ul>
</div>
{% endblock %}
